<style>
  html, body { position: relative; height: 100%; } body { background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px;
  color: #000; margin: 0; padding: 0; } .swiper { width: 100%; padding-top:
  50px; padding-bottom: 50px; } .swiper-slide { background-position: center;
  background-size: cover; width: 300px; height: 300px; } .swiper-slide img {
  display: block; width: 100%; } .swiper-wrapper{ height: auto; }
</style>

<!-- Slider main container -->

{{#if photos}}
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {{#each photos}}
        <div class="swiper-slide">
          <img src="{{imageURL}}" />
        </div>
      {{/each}}
    </div>
    <div class="swiper-pagination"></div>
  </div>
{{else}}
  <div class="h-100 d-flex align-item-center justify-content-center">
    <div class="text-center text-white">
      <h1>There are no pictures</h1>
      <img src="/images/GcoreChan2.png" width="200" />
    </div>
  </div>
{{/if}}